@import "../../../assets/css/base.scss";

html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
}
body{
	  font-family: "Helvetica Neue", 'Helvetica', "Microsoft YaHei", '微软雅黑', arial, sans-serif;
	  overflow-x:hidden;
}
img {
  border: none;
  vertical-align: middle;
  width: 100%;
  height: auto;
}

input, textarea {
  outline: none;
}

.lt-index-main-ui{

 
  color:#fff;
  z-index: 10;
  &.hide{
    -webkit-transition:-webkit-transform .5s,opacity 1s;
    @include transform(translate3d(0,-100%,0) scale(.8));
    opacity:0;
  }
  .lt-index-person{
     width: 4rem;
     left: .5rem;
     top:.5rem;
  }
  .lt-text{
    font-size: .4rem;
    color:#663333;
    @include pos(a);
    width:7rem;
    left: 1.5rem;
    top: 5rem;
  }
  .lt-index-title{
    width:6rem;
    left: 2rem;
    top: 1rem;
    @include transform(translate3d(0,-1rem,0));
    opacity:0;
    @include transition(1s);
    &.active{
      @include transform(translate3d(0,0,0));
      opacity:1;
    }
  }
  .lt-index-book{
    width: 8rem;
    top:58%;
    left: 1rem;
    @include transform(translate3d(0,-1rem,0));
    opacity:0;
    @include transition(2s);
    &.active{
      @include transform(translate3d(0,0,0));
      opacity:1;
    } 
    .shadow{
      bottom: 65%;
      width: 6.6rem;
      left: .65rem;
      opacity:0;
      &.active{
        opacity:1
      }
    }
  }
  .lt-index-tizi{
    width:2.6rem;
    right: .8rem;
    bottom: 0;
    opacity:0;
    @include transition(2s);
    &.active{
      opacity:1;
    }
  }
}

.lt-person{
  opacity:0;
  &.active{
    opacity:1;
    @include transition(1s);
  }
  width:2.5rem;
  top:8.5rem;
  left: 2rem;
}
.lt-word{
  opacity:0;
  @include transform(translate3d(20%,0,0));
  &.active{
    opacity:1;
    @include transform(translate3d(0,0,0));
    @include transition(1s);
  }
  width:5rem;
  right: 1rem;
  top: 6.5rem;
}


