@import "../../../assets/css/base.scss";

html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
}
body{
	  font-family: "Helvetica Neue", 'Helvetica', "Microsoft YaHei", '微软雅黑', arial, sans-serif;
	  overflow-x:hidden;
}
img {
  border: none;
  vertical-align: middle;
  width: 100%;
  height: auto;
}

input, textarea {
  outline: none;
}

.lt-share-ui{
  display: none;
  @include transition(.3s);
  &.active{
    z-index: 100;
    display: block;
  }

  .lt-info{
    @include pos(a);
    bottom: 0;
    left: 50%;
     -webkit-animation: ltshake 1.5s infinite ease;
    animation: ltshake 1.5s infinite ease;
    margin-left: -.5rem;
    z-index: 1;
     width:1rem;
     img{
      width:1rem;
     }
  }
}
.lt-level{
   width: 7rem;
   margin: .5rem auto;
   display: block;
}


.lt-click-C{
  @include pos(a);
  left: 2rem;
  height: 5rem;
  img{
    @include pos(a);
    &:last-of-type{
      width:74%;
      left: 20%;
      z-index: 1;
      bottom: 10%;
    }
  }
  bottom: 0;
  z-index: 10;
  width:6rem;
}


.lt-team{
  top:100%;
}


@-webkit-keyframes ltshake {
  from {
    -webkit-transform: translateY(0);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(-1  `Q5px);
    opacity: 1;
  }
}

.lt-team-text{
  font-size:.5rem;
  @include pos(a);
  text-align: center;
  border:1px solid red;
  left: 50%;
  
}