@import "../../../assets/css/base.scss";

html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
}
body{
	  font-family: "Helvetica Neue", 'Helvetica', "Microsoft YaHei", '微软雅黑', arial, sans-serif;
	  overflow-x:hidden;
}
img {
  border: none;
  vertical-align: middle;
  width: 100%;
  height: auto;
}

input, textarea {
  outline: none;
}

.lt-scene-ui{
  @include transform3d();
  overflow: hidden;

  &>ul{
    @include transition_transform(.4s);
    background: #ffd1b2;
    li{
        width:10rem;
        @include pos(r);

        .lt-info{
          @include pos(a);
          bottom: 1rem;
          left: 50%;
           -webkit-animation: ltshake 1.5s infinite ease;
          animation: ltshake 1.5s infinite ease;
          margin-left: -.5rem;
           width:1rem;
           img{
            width:1rem;
           }
        }
    }
  }

}



@-webkit-keyframes ltshake {
  from {
    -webkit-transform: translateY(0);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(-25px);
    opacity: 1;
  }
}