@import "../../../assets/css/base.scss";

html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
}
body{
	  font-family: "Helvetica Neue", 'Helvetica', "Microsoft YaHei", '微软雅黑', arial, sans-serif;
	  overflow-x:hidden;
}
img {
  border: none;
  vertical-align: middle;
  width: 100%;
  height: auto;
}

input, textarea {
  outline: none;
}

.lt-scene-ui{

  @include transform(translate3d(0,80%,0) scale(.8));
  @include transition(.5s);
  opacity:0;
  &.active{
    @include transform(translate3d(0,0,0) scale(1));
    opacity:1;
  }
  @include transform3d();
  overflow: hidden;
  &>ul{
    @include transition_transform(.4s);
    background: #ffd1b2;
    li{
        width:10rem;
        @include pos(r);

        @at-root.lt-info{
          @include pos(a);
          bottom: 1rem;
          left: 50%;
           -webkit-animation: ltshake 1.5s infinite ease;
          animation: ltshake 1.5s infinite ease;
          margin-left: -.5rem;
           width:1rem;
           img{
            width:1rem;
           }
        }

        .lt-minfa{
          width:2.5rem;
          @include pos(a);
          right: .1rem;
          bottom: 1rem;
        }

        .lt-question-content{
          @include pos(a);
          z-index: 10;
          width:8rem;
          height: 4rem;
          left: 1rem;
          top:47%;
          line-height: .72rem;
          padding:.5rem .550rem;
          box-sizing:border-box;
          font-size: .45rem;
        }

        .lt-question-answer{
            @include pos(a);
            bottom: 1rem;
           li{
            color:#fff;
            span{
              color:#000;
              background: #ccc;
              padding:5px 10px;
              @include br(7px);
              margin-left: .2rem;
              border:2px dashed #fff;
            }
            font-size: .45rem;
            height: 1.3rem;
            line-height: 1.3rem;
           }
           left: 1rem;
        }
    }
  }

}



@-webkit-keyframes ltshake {
  from {
    -webkit-transform: translateY(0);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(-25px);
    opacity: 1;
  }
}